/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  column-gap: 36px;
  margin: 92px 24px;
  padding: 0 25px;
  line-height: 21.13px;
}

.header__menu {
 grid-column: 1/2;
 place-content: center;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 26px;
}

.header__links-list-item {
  list-style-type: circle;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {

}

.header__link_active {

}

.header__logo {
  grid-column: 2/3;
}

.header__logo-image {
  display: block;
  margin: 0 auto;
  
  /*max-height: 105px;*/
  max-width: 148px;
}

.address {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

.header__address {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
}





.cover {
  max-height: 757px;
  background-image: url("../images/cover.jpg");

}

/*.cover__image {
  min-height: 757px;
}*/

.cover__title {
  padding: 165px 50px 165px 50px;
  max-height: 355px;
  max-width: 1000px;
  position: absolute;
  z-index: 2;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30%;
  color: #ffffff;
}

.overlay {
  max-height: 100%;
  opacity: 50%;
  position: absolute;
  z-index: 1;
}

.aligned-text {
  display: block;
  line-height: 115px;
}

.aligned-text_center {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 100px;
}

.aligned-text_right {
  display: block;
  text-align: right;
  line-height: 100px;
}

.letter-spacing-extended {
  letter-spacing: 60%;
}

.no-letter-spacing {
  letter-spacing: 0;
}




.lots {

}

.about {

}

.footer {

}

/*.pixel-perfect-image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
    filter: sepia(0.6);
} */